<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension.ja.gomuraw">

    <application 
        android:label="Tachiyomi: GomuRaw"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value=".Gomuraw" /> <meta-data
            android:name="tachiyomi.extension.version"
            android:value="1" />
        <meta-data
            android:name="tachiyomi.extension.nsfw"
            android:value="0" />
    </application>
</manifest>
